.title-block{
    border: 2px solid rgb(76, 64, 90);
    text-align: center;
    /* cursor: auto; */
}
.col:hover{
    background-color: rgb(11, 137, 221);
    cursor: pointer;
}
.selected{
    background-color: rgb(11, 137, 221);
}
#command-area:hover{
    background-color: rgb(255, 255, 255);
    cursor: auto;
}
.col-sm-2{
    background-color: gray;
    text-align: center;
}